pytz==2021.1
ghp-import>=2.1.0
pyyaml>=6.0
mkdocs>=1.4.2
mkdocs-material-extensions>=1.1
mkdocs-git-authors-plugin>=0.7.0
mkdocs-git-committers-plugin-2>=1.1.1
mkdocs-git-revision-date-plugin>=0.3.2
mkdocs-git-revision-date-localized-plugin>=1.1.0
git+ssh://git@github.com/status-im/mkdocs-material-insiders.git
