/* 
:root {
    --md-primary-fg-color:        #4360DF;
  } */

.md-grid {
    max-width: 800px; 
}
.md-typeset h1 {
    font-weight: 600;
    color: var(--md-default-fg-color); 
}
.md-typeset h2 {
    font-weight: 600;
    color: var(--md-default-fg-color); 
}

.md-typeset h3 {
    font-weight: 600;
    color: var(--md-default-fg-color--light); 
}

.md-typeset ol {
    list-style-type: none;
  }
  
.md-typeset ol li {
    counter-increment: step-counter;
    position: relative;
    margin: 10px 0 0 0;
  }
  
.md-typeset ol li::before {
    content: counter(step-counter);
    display: block;
    position: absolute;
    top: -1px;
    /* Adjust < -number | number+ > */
    left: -34px;
    width: 1.25rem;
    height: 1.25rem;
    line-height: 1.25rem;
    background-color: #4360DF;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    text-align: center;
    border-radius: 15px;
  }

/* 





.md-typeset ol {
    list-style: none;
    counter-reset: any-name;
}

.md-typeset li {
    counter-increment: any-name;
    margin-bottom: 50px;
    margin-left: 1.3rem;
}

.md-typeset li:before {
    content: counter(any-name);
    position: absolute;
    margin-left: 0.0rem;
    background: #4360DF;
    border-radius: 50%;
    color: white;
    font-weight: 600;
    width: 1.3rem;
    height: 1.2rem;
    padding-top: 0rem;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
}


 */