/* 
:root {
    --md-primary-fg-color:        #4360DF;
  } */

  .md-grid {
    max-width: 950px; 
}
.md-typeset h1 {
    font-weight: 600;
    color: var(--md-default-fg-color); 
}
.md-typeset h2 {
    font-weight: 600;
    color: var(--md-default-fg-color); 
}

.md-typeset h3 {
    font-weight: 600;
    color: var(--md-default-fg-color); 
}

.md-typeset ol {
  list-style-type: none;
}

.md-typeset ol > li {
  counter-increment: step-counter;
  position: relative;
  margin: 10px 0 0 0;
}

.md-typeset ol > li::before {
  content: counter(step-counter);
  display: block;
  position: absolute;
  top: -1px;
  /* Adjust < -number | number+ > */
  left: -34px;
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1.25rem;
  background-color: #4360DF;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 15px;
}

.md-tooltip--inline {
  font-weight: 400 !important;
}

.md-tooltip--inline .md-tooltip__inner {
  font-size: .75rem !important;
}

@media only screen and (min-width: 768px) {
  .md-tooltip {
      max-width: calc(100vw - 5rem);
  }
}

@media only screen and (min-width: 1200px) {
  .md-tooltip {
      max-width: calc(100vw - 30rem);
  }
}
